html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.ng-logo{
}


/*HERO*/
.hero{
  position: relative;
  text-align: center;
  color: white;
  vertical-align: middle;
}
.hero h2{
  font-size: 1.5rem;
  font-weight: 400;
}
@media only screen and (min-width: 960px){
  .hero h2{
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1280px){
  .hero h2{
    font-size: 4rem;
    font-weight: 200;
  }
}
.hero__bg-container{
  width: 100%;
  display: inline-block;
  background-size: cover;
  background: linear-gradient(to top, rgba(46, 49, 65, 0.3), rgba(46, 49, 65, 0.8)), url("../assets/images/bg.jpg") no-repeat center;
}
@media only screen and (min-width: 960px){
  .hero__bg-container{
    background: linear-gradient(to top, rgba(46, 49, 65, 0.5), rgba(46, 49, 65, 0.8)), url("../assets/images/bg_large.jpg") no-repeat center;
  }
}

.hero__bg-container-overlay {
  box-sizing: border-box;
  background: rgba(0,0,0,0.3);
  height: 100%;
  padding: 12% 5% 8% 5%;
  width: 100%;
}
@media only screen and (min-width: 960px){
  .hero__bg-container-overlay {
    background: none;
    padding: 8% 5% 12%;
  }
}

.hero-btn{
  padding: 1rem;
  font-size: 2rem;
}

/*TALK*/
.talk{

}
.talk__header{
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid gray;
}
.talk__title{
  font-size: 2rem !important;
  white-space: inherit !important;
}
.talk__content{}

.section{
  background-color: white;
  padding: 22px;
}
@media only screen and (min-width: 48rem){
  .section{
    padding: 44px;
  }
}
.section--safety{
  overflow: hidden;
}
.section--grey{
  background-color: #f6f6f6;
}

/*FOOTER*/
.footer{
  color: #9e9e9e;
  background-color: #424242;
  text-align: center;
}
.social{
  list-style: none;
}

.sponsors{}
.sponsors figure{
  margin: 1.5rem;
  text-align: center;
}
.sponsors figure:hover{
  transition: opacity ease-out 250ms;
  opacity: .7;
}
.sponsors img{
  max-width: 100%;
}

.map-overlay{
  background:transparent;
  position:relative;
  width:100%;
  height:400px; /* your iframe height */
  top:400px;  /* your iframe height */
  margin-top:-400px;  /* your iframe height */
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
